* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    width: 65vmin;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
}

.grid-square {
    flex: 0 0 calc(100% / 16);
    aspect-ratio: 1 / 1;
    border: 1px solid black;
}