* {
    box-sizing: border-box;
}

body {
    background-color: #ededed;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    h1 {
        font-size: 83px;
    }
}

.bodyContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 500px;
    height: 500px;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-wrap: wrap;
    user-select: none;
    box-shadow: 0px 3px 8px;
    --size: 16;
}

.sideBar {
    width: 250px;
    height: 500px;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    user-select: none;
    --size: 16;
    margin-right: 100px;

    button {
        padding: 10px;
        margin-bottom: 30px;
        box-shadow: 0px 1px 8px;
        background-color: white;
    }
}

.slidecontainer {
  width: 100%;
  font-size: 22px;
  text-align: center;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.grid-square {
    flex: 0 0 calc(100% / var(--size));
    aspect-ratio: 1 / 1;
    background-color: white;
    
}

.grid-square-drawn{
    flex: 0 0 calc(100% / var(--size));
    aspect-ratio: 1 / 1;
    border: 1px solid black;
    background-color: var(--currentColor);
}